<!--<div class="toast-container position-fixed top-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="mi-alerta alert alert-{{tipoToast}} alert-dismissible fade show" role="alert">
      <p><strong class="me-auto"><i class="bi bi-exclamation-triangle-fill fs-5"></i></strong> {{mensajeToast}}</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
</div>-->

<div class="toast-container position-fixed top-0 end-0 p-2">
  <div id="liveToast" class="toast border border-{{tipoToast}} bg-light-subtle text-start" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header bg-{{tipoToast}}-subtle">
      <!--<img src="..." class="rounded me-2" alt="...">
      <i class="bi bi-exclamation-triangle"></i>-->
      <strong class="me-auto">Notificación:</strong>
      <!--<small>11 mins ago</small>-->
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p id="toast-mensaje">{{mensajeToast}}</p>
    </div>
  </div>
</div>