<div class="col-lg-6 mb-3">
  <div class="card">
    <div class="card-body">
      <h5 id="tituloSemaforo" class="card-title my-2 bg-{{semaforo.color}}">Mis Indicadores <b id="notaRiesgo" class="fs-6">{{semaforo.texto}}</b></h5>
      <hr>
      <!--<form method="post" action="/dashboard/agendar-asesoria" enctype="multipart/form-data">-->
      <form id="formSemaforo">
        <div class="form-group row w-100 m-auto">
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Carga Financiera</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-percent"></i></span>
              <input id="carga" name="carga" class="form-control m-auto text-center" value="{{semaforo.carga}}" readonly/>
            </div>
          </div>
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Nivel Endeudamiento</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">vr</span>
              <input id="leverage" name="leverage" class="form-control m-auto text-center" value="{{semaforo.leverage}}" readonly/>
            </div>
          </div>
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Patrimonio</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-currency-dollar"></i></span>
              <input id="patrimonio" name="patrimonio" class="form-control m-auto text-center" value="{{semaforo.patrimonio}}" readonly/>
            </div>
          </div>
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Fecha y Hora</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1"><i class="bi bi-clock"></i></span>
              <input id="fecha_hora" name="fecha_hora" type="datetime" class="form-control m-auto text-center" value="{{semaforo.fechahora}}" readonly/>
            </div>
          </div>
        </div>
        <button class="btn btn-success my-3 bi bi-file-earmark-bar-graph" type="button" onclick="informeRiesgo()" data-bs-toggle="modal" data-bs-target="#modalInformeRiesgo">...informe</button>
        <button class="btn btn-warning my-3 bi bi-trash3-fill" type="button" onclick="limpiarRatios()">...limpiar</button>
      </form>
    </div>
  </div>
</div>