<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title my-2">Mis Indicadores {{semaforo.evaluacion}}</h5>
      <hr>
      <form method="post" action="/dashboard/agendar-asesoria" enctype="multipart/form-data">
        <div class="form-group row w-100 m-auto">
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Carga Financiera</label>
            <input id="carga" name="carga" class="form-control m-auto text-center" value="{{semaforo.carga}}" readonly/>
          </div>
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Leverage</label>
            <input id="leverage" name="leverage" class="form-control m-auto text-center" value="{{semaforo.leverage}}" readonly/>
          </div>
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Patrimonio</label>
            <input id="patrimonio" name="patrimonio" class="form-control m-auto text-center" value="{{semaforo.patrimonio}}" readonly/>
          </div>
          <div class="form-group col-12 col-sm-6 mb-3">
            <label>Fecha y Hora</label>
            <input id="fecha_hora" name="fecha_hora" type="datetime" class="form-control m-auto text-center" value="{{semaforo.fechahora}}" readonly/>
          </div>
        </div>
        <button class="btn btn-success my-5 bi bi-headset">...asesoría</button>
      </form>
    </div>
  </div>
</div>
